<div class="row herder">
  <div class="col-md-3">
    <div class="label label-info pull-left">Name</div>
    <div class="label label-info pull-right">tokens</div>
  </div>
</div>

<% sorted_players(players.to_a, players.banker).each do |player| %>
  <div class="row">
    <div class="col-md-3">
      <span class="pull-left"><%= player.name %></span>
      <% if players.banker == player %>
        &nbsp;<span class="badge alert-danger">Banker</span>
      <% end %>
      <span class="badge pull-right"><%= player.tokens %></span>
    </div>
    <% if defined?(removable) && removable %>
      <div class="col-md-1">
        <div class="pull-right">
          <form action="remove/player/<%= Base64.urlsafe_encode64(player.name) %>"
                method="get">
            <button
              type="button"
              class="btn btn-default btn-xs oepn-confirm-dialog"
              data-toggle="modal"
              data-playerid="<%= Base64.urlsafe_encode64(player.name) %>">
              <span class="glyphicon glyphicon-trash" />
            </button>
          </form>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<%= erb :confirm_dialog %>
